## Calculating new dependent and independent variables, and modelling

In [14]:
import pandas as pd

FILE_PATH = r"../generated_data/cp3_modelling/"

In [15]:
df_epi = pd.read_csv(FILE_PATH+"epidemiology_subset.csv")
df_search_trends = pd.read_csv(FILE_PATH+"google-search-trends_subset.csv")
df_gvt_resp = pd.read_csv(FILE_PATH+"government_response_subset.csv")
df_mobility = pd.read_csv(FILE_PATH+"mobility_subset.csv")
df_vacc_search = pd.read_csv(FILE_PATH+"vaccination_search_subset.csv")
df_vacc = pd.read_csv(FILE_PATH+"vaccinations_subset.csv")

df_index = pd.read_csv(r"../datasets/index.csv")
df_demographics = pd.read_csv(r"../datasets/demographics.csv")

### Part 2: What factors influence the government's response?
Independent variable - the old and basic stringency index

Dependent variables (representative of the key metrics for spread of covid - dynamic more than static situation)- deaths, cases, total number of vaccinations, number of new vaccinations (all these should be normalised)

In [16]:
df_epi.head()

,Unnamed: 0,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
0,879188,2020-01-01,GB,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1,879189,2020-01-02,GB,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
2,879190,2020-01-03,GB,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
3,879191,2020-01-04,GB,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
4,879192,2020-01-05,GB,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

Variables to select: new_confirmed, new_deceased, new_recovered, new_tested 

Don't need to look at cumulative statistics since what matters is the rate?

In [17]:
df_vacc.head()

,Unnamed: 0,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
0,402023,2021-01-10,GB,NaN,2286572.0,NaN,391399.0,NaN,2677971.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,402024,2021-01-11,GB,145076.0,2431648.0,20768.0,412167.0,165844.0,2843815.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,402025,2021-01-12,GB,207661.0,2639309.0,16065.0,428232.0,223726.0,3067541.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,402026,2021-01-13,GB,278943.0,2918252.0,9745.0,437977.0,288688.0,3356229.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,402027,2021-01-14,GB,316694.0,3234946.0,5257.0,443234.0,321951.0,3678180.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Variables to select: new_persons_vaccinated, cumulative_persons_vaccinated, new_persons_fully_vaccinated, cumulative_persons_fully_vaccinated

In [18]:
df_gvt_resp.head()

,Unnamed: 0,school_closing,workplace_closing,cancel_public_events,restrictions_on_gatherings,public_transport_closing,stay_at_home_requirements,restrictions_on_internal_movement,international_travel_controls,income_support,public_information_campaigns,facial_coverings,vaccination_policy,date,location_key,stringency_index
0,120759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-01,GB,0.0
1,120760,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-02,GB,0.0
2,120761,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-03,GB,0.0
3,120762,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-04,GB,0.0
4,120763,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-05,GB,0.0

In [19]:
# Consolidate variables into 1 df
df_part2 = df_epi[["date", "location_key", "new_confirmed", "new_deceased", "new_recovered", "new_tested"]].merge(df_vacc[["date", "location_key", "new_persons_vaccinated", "cumulative_persons_vaccinated", "new_persons_fully_vaccinated", "cumulative_persons_fully_vaccinated"]], how = "outer", on = "date")

In [20]:
df_part2.head()

,date,location_key_x,new_confirmed,new_deceased,new_recovered,new_tested,location_key_y,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated
0,2020-01-01,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01,ID,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,SG,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-02,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-02,ID,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_part2 = df_part2.rename({"location_key_x" : "location_key"}, axis = 1)
df_part2 = df_part2.drop("location_key_y", axis = 1)

df_part2.head()

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated
0,2020-01-01,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01,ID,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,SG,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-02,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-02,ID,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_part2 = df_part2.merge(df_gvt_resp[["date", "location_key", "stringency_index"]], how = "outer", on = "date")

df_part2.head()

,date,location_key_x,new_confirmed,new_deceased,new_recovered,new_tested,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,location_key_y,stringency_index
0,2020-01-01,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,GB,0.00
1,2020-01-01,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,IN,0.00
2,2020-01-01,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,SG,5.56
3,2020-01-01,ID,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,GB,0.00
4,2020-01-01,ID,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,IN,0.00

In [23]:
df_part2 = df_part2.rename({"location_key_x" : "location_key"}, axis = 1)
df_part2 = df_part2.drop("location_key_y", axis = 1)

In [24]:
df_part2["date"] = pd.to_datetime(df_part2["date"])
df_part2 = df_part2.set_index("date")

### Standardise metrics by population

i.e. newly tested persons per 10,000 people

In [25]:
# Split dataset into 3 countries
df_part2_gb = df_part2.loc[df_part2["location_key"] == "GB"]
df_part2_id = df_part2.loc[df_part2["location_key"] == "ID"]
df_part2_sg = df_part2.loc[df_part2["location_key"] == "SG"]

In [26]:
columns_to_standardise = df_part2.columns.difference(["date", "location_key", "stringency_index"], sort = False)
columns_to_standardise

Index(['new_confirmed', 'new_deceased', 'new_recovered', 'new_tested',
       'new_persons_vaccinated', 'cumulative_persons_vaccinated',
       'new_persons_fully_vaccinated', 'cumulative_persons_fully_vaccinated'],
      dtype='object')

In [27]:
df_demographics.head()

,location_key,population,population_male,population_female,population_rural,population_urban,population_largest_city,population_clustered,population_density,human_development_index,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older
0,AD,77265.0,58625.0,55581.0,9269.0,67873.0,NaN,NaN,164.394,0.858,9370.0,12022.0,10727.0,12394.0,21001.0,20720.0,14433.0,8657.0,4881.0
1,AE,9890400.0,6836349.0,3054051.0,1290785.0,8479744.0,2833079.0,5914068.0,118.306,0.863,1011713.0,842991.0,2149343.0,3169314.0,1608109.0,797913.0,242707.0,55884.0,12426.0
2,AF,38928341.0,19976265.0,18952076.0,28244481.0,9797273.0,4114030.0,4114030.0,59.627,0.498,11088732.0,9821559.0,7035871.0,4534646.0,2963459.0,1840198.0,1057496.0,480455.0,105925.0
3,AF_BAL,1509183.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AF_BAM,495557.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
pop_gb = df_demographics["population"].loc[df_demographics["location_key"] == "GB"].iloc[0]
pop_id  = df_demographics["population"].loc[df_demographics["location_key"] == "ID"].iloc[0]
pop_sg = df_demographics["population"].loc[df_demographics["location_key"] == "SG"].iloc[0]

In [29]:
df_part2_gb

,location_key,new_confirmed,new_deceased,new_recovered,new_tested,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,stringency_index
date,,,,,,,,,,
2020-01-01,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2020-01-01,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2020-01-01,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,5.56
2020-01-02,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2020-01-02,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...
2022-09-11,GB,0.0,0.0,NaN,NaN,61419.0,1.025331e+09,238500.0,944970466.0,NaN
2022-09-11,GB,0.0,0.0,NaN,NaN,23.0,5.024324e+06,86.0,5004498.0,NaN
2022-09-12,GB,0.0,0.0,NaN,NaN,61675.0,1.025392e+09,272886.0,945243352.0,NaN
2022-09-12,GB,0.0,0.0,NaN,NaN,60.0,5.024384e+06,195.0,5004693.0,NaN
2022-09-13,GB,0.0,0.0,NaN,NaN,72751.0,1.025465e+09,202865.0,945446217.0,NaN

In [30]:
df_part2_gb[columns_to_standardise] = df_part2_gb[columns_to_standardise].apply(lambda x : (x / pop_gb) * 10000)

df_part2_gb

c:\Users\Tristan\Desktop\Assignments\P4DS\p4ds_env\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,location_key,new_confirmed,new_deceased,new_recovered,new_tested,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,stringency_index
date,,,,,,,,,,
2020-01-01,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2020-01-01,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2020-01-01,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,5.56
2020-01-02,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2020-01-02,GB,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...
2022-09-11,GB,0.0,0.0,NaN,NaN,9.215553,153844.720233,35.785497,141787.158909,NaN
2022-09-11,GB,0.0,0.0,NaN,NaN,0.003451,753.869725,0.012904,750.894953,NaN
2022-09-12,GB,0.0,0.0,NaN,NaN,9.253964,153853.974198,40.944910,141828.103819,NaN
2022-09-12,GB,0.0,0.0,NaN,NaN,0.009003,753.878728,0.029259,750.924211,NaN
2022-09-13,GB,0.0,0.0,NaN,NaN,10.915852,153864.890050,30.438678,141858.542498,NaN

In [31]:
df_part2_id[columns_to_standardise] = df_part2_id[columns_to_standardise].apply(lambda x : (x / pop_id) * 10000)

df_part2_id

c:\Users\Tristan\Desktop\Assignments\P4DS\p4ds_env\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,location_key,new_confirmed,new_deceased,new_recovered,new_tested,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,stringency_index
date,,,,,,,,,,
2020-01-01,ID,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2020-01-01,ID,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2020-01-01,ID,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,5.56
2020-01-02,ID,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2020-01-02,ID,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...
2022-09-12,ID,0.067563,0.000622,0.126680,NaN,2.254833,37488.254259,9.976689,34558.015448,NaN
2022-09-12,ID,0.067563,0.000622,0.126680,NaN,0.002194,183.691046,0.007129,182.971145,NaN
2022-09-13,ID,0.105878,0.000731,0.132237,NaN,2.659770,37490.914030,7.416727,34565.432175,NaN
2022-09-14,ID,0.102331,0.000768,0.143973,NaN,2.470573,37493.384602,6.849865,34572.282041,NaN
2022-09-15,ID,0.096920,0.000768,0.143132,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df_part2_sg[columns_to_standardise] = df_part2_sg[columns_to_standardise].apply(lambda x : (x / pop_sg) * 10000)

df_part2_sg

c:\Users\Tristan\Desktop\Assignments\P4DS\p4ds_env\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,location_key,new_confirmed,new_deceased,new_recovered,new_tested,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,stringency_index
date,,,,,,,,,,
2020-01-01,SG,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2020-01-01,SG,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2020-01-01,SG,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,5.56
2020-01-02,SG,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2020-01-02,SG,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...
2022-09-11,SG,2.483615,0.000000,NaN,NaN,104.983588,1.752599e+06,407.668405,1.615239e+06,NaN
2022-09-11,SG,2.483615,0.000000,NaN,NaN,0.039314,8.588084e+03,0.147000,8.554196e+03,NaN
2022-09-12,SG,5.729579,0.000000,NaN,NaN,105.421169,1.752705e+06,466.444446,1.615706e+06,NaN
2022-09-12,SG,5.729579,0.000000,NaN,NaN,0.102558,8.588187e+03,0.333314,8.554529e+03,NaN
2022-09-13,SG,4.146765,0.003419,NaN,NaN,124.353393,1.752829e+06,346.757447,1.616053e+06,NaN

### Replace all NAs with ffill (since it is unlikely that there will actually be 0 cases deceased or confirmed daily)

If there are still NAs, replace with 0

In [50]:
df_part2_gb.isna().sum()

location_key                              0
new_confirmed                             0
new_deceased                              0
new_recovered                          6229
new_tested                              982
new_persons_vaccinated                 1101
cumulative_persons_vaccinated          1092
new_persons_fully_vaccinated           1206
cumulative_persons_fully_vaccinated    1197
stringency_index                        142
dtype: int64

In [54]:
df_part2_gb.interpolate(method = "ffill").isna().sum()

location_key                              0
new_confirmed                             0
new_deceased                              0
new_recovered                          6229
new_tested                              270
new_persons_vaccinated                 1095
cumulative_persons_vaccinated          1092
new_persons_fully_vaccinated           1113
cumulative_persons_fully_vaccinated    1110
stringency_index                          0
dtype: int64

In [55]:
df_part2_gb = df_part2_gb.interpolate(method = "ffill")
df_part2_gb = df_part2_gb.fillna(0)

In [59]:
df_part2_id = df_part2_id.interpolate(method = "ffill")
df_part2_id = df_part2_id.fillna(0)

In [60]:
df_part2_sg = df_part2_sg.interpolate(method = "ffill")
df_part2_sg = df_part2_sg.fillna(0)

### Train model for part 2

One model for each country

In [61]:
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [62]:
from sklearn.model_selection import train_test_split

In [66]:
# Instantiate models
linear_reg = LinearRegression()
decision_tree = DecisionTreeRegressor(random_state = 1)
random_forest = RandomForestRegressor(random_state=1)

models = [linear_reg, decision_tree, random_forest]

#### for GB

In [64]:
x_train, x_test, y_train, y_test = train_test_split(df_part2_gb[columns_to_standardise], df_part2_gb["stringency_index"], test_size = 0.2, random_state =1)

In [67]:
trained_models_gb = {"model" : [], "predicted_results" : []}

for model in models :
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    
    trained_models_gb["model"].append(model)
    trained_models_gb["predicted_results"].append(y_pred)

In [68]:
trained_models_gb["model"]

[LinearRegression(),
 DecisionTreeRegressor(random_state=1),
 RandomForestRegressor(random_state=1)]

In [75]:
print(trained_models_gb["model"][0].coef_)
print(trained_models_gb["model"][0].feature_names_in_)

[-7.91170122e-01  1.69856279e+02  4.74657940e-10  1.27831035e-01
  2.15218671e-03  4.30825114e-05  4.84668764e-03 -1.67291829e-04]
['new_confirmed' 'new_deceased' 'new_recovered' 'new_tested'
 'new_persons_vaccinated' 'cumulative_persons_vaccinated'
 'new_persons_fully_vaccinated' 'cumulative_persons_fully_vaccinated']